{% extends 'main-layout.html' %}

{% block content %}

   <div class="container">
      <div class="profile-details">
         <div class="avatar">
            <img src="{{ url_for('static', filename='avatars/'+user.avatar) }}" alt="">
         </div>
         <div class='profile-meta'>
            <h4>{{ user.name }}</h4>
            <p>@{{ user.username }}</p>
            <div>
               <a href="" class=''>
                  <button class='update-btn'>Update Profile</button>
               </a>
               <a href="{{ url_for('auth.logout') }}" class=''>
                  <button class='update-btn'>Log Out</button>
               </a>   
            </div>
         </div>
      </div>
   </div>
   
   <div class="container user-posts">
      {% if posts %}
         <div class='grid'>
            {% for top in posts %}
               <div class="top-blog">
                  <div class="author">
                     <div class="avatar-tiny">
                        <img src="{{ url_for('static', filename='avatars/'+top.author.avatar) }}" alt="">
                     </div>
                     <a href="{{ url_for('main.index') }}"></a>
                     <div class='name'>
                        {{ top.author.name }}
                     </div>
                     <div class='to-right'>
                        {{ top.time.strftime('%d %b, %Y')}}
                     </div>
                  </div>
                  <a href="{{ url_for('main.read', article_link=top.link) }}">
                     <div class="post-title">
                        {{ top.title }}
                     </div>                  
                  </a>
                  <div class="post-action">
                     <a href="{{ url_for('main.update_blog', id=top.id) }}">
                        <button><i class="fas fa-edit"></i> Update</button>
                     </a>
                     <a>
                        <button id="delete" class='red'><i class="fas fa-eraser"></i> Delete</button>
                     </a>
                  </div>

               </div>
               <div class="modal">
                  <div class="modal-content">   
                     <p>Are you sure you want to delete this post?</p>
                     <a href="{{ url_for('main.delete_blog', id=top.id) }}">
                        <button class='alert'>Yes</button>
                     </a>
                     <a>
                        <button id="no">No</button>
                     </a>
                  </div>
               </div>

            {% endfor %}
         </div>
      {% endif %}
      
   </div>

{% endblock %}


